body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dropzone{
    width: 90%;
    height: 90%;
    border: 2px dashed #333333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}