header{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    display: none
}
#loader{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    background-color: #FF5F85;
    color: #ffffff;
    display: none;
    text-align: center;
}